# Engine
engine/build/
engine/*.o
engine/*.so
engine/output/
engine/__pycache__/

# Backend
backend/jobs/
backend/__pycache__/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# General
*.pyc
.DS_Store

# Legacy
example-data/
example-data.tgz
frontend/tsconfig.tsbuildinfo
